/* heading animation */

@keyframes moveInLeft {
  /* animation begin */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /* push right before settling back */
  80% {
    transform: translateX(1rem);
  }

  /* animation finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* animation begin */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  /* push right before settling back */
  80% {
    transform: translateX(-1rem);
  }

  /* animation finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  /* animation begin */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* animation finish */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
