/* Basic Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* set root properties */
/* set to 10px by dividing 10px by default 16px  = 62.5% */
/* by setting to 10 you can divide all your settings by 10 to set as rem */
html {
  font-size: 62.5%; //1rem == 10px | 10/16 = 62.5%

  //phone media mixin
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px | 9/16 = 56.25%
  }

  //phone media mixin
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px | 8/16 = 50%
  }

  //phone media mixin
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px | 12/16 = 75%
  }
}

/* 
* overall font properties 
* inherited by all child properties in body
*/

body {
  /* Change box model so borders and paddings not added to total height */
  box-sizing: border-box;
  padding: 3rem;

  //phone media mixin
  @include respond(tab-port) {
    padding: 0;
  }
}
